/* $Id$ */

.views-tabset {
  background: transparent;
}

.views-tabset .views-tab fieldset { 
  margin-top: 0; 
}

.views-tabset .views-tabs ul {
  list-style-type: none !important;
  list-style-image: none !important;
  border-bottom: #5C707E 1px solid;
  padding: 0;
  margin: 0;
}

.views-tabset .views-tabs ul li {
  list-style-type: none;
  list-style-image: none;
  background: #B3BEC6;
  border-top: #5C707E 1px solid;
  border-right: #5C707E 1px solid;
  border-left: #5C707E 0px solid;
  margin: 0;
  padding: 3px 3px 3px 6px;
}

.views-tabset .views-tabs ul li.active {
  background: #fff;
  border-top: #5C707E 2px solid;
  border-right: 0;
  border-bottom: #5C707E 1px solid;
  margin-left: 0;
  font-weight: bold;
}


.views-tabset .views-tabs {
  border-bottom: #5C707E 1px solid;
  border-left: #5C707E 1px solid;
  background: #E0E5E8;  float: left;
  width: 118px;
}

.views-tabset .extra {
  text-align: center;
}

.views-tabset .extra input {
  margin-top: 0;
}

.views-tabset .views-display {
  border: #5C707E 1px solid;
  border-bottom: 0px;
  margin-left: 118px; /* 120 -1 causes borders to overlap */
  min-height: 302px;
  _height: 300px; /* stupid IE hack */
}
.views-tabset .views-display-deleted {
  background-color: #eee;
}

.views-display .top {
  padding: 0.5em 0em 0em 1em;
  background: #fff;
}

.views-display .top .display-title {
  font-weight: bold;
}
.views-display .top .display-description {
  margin-left: 1em;
  font-style: italic;
  overflow: hide;
  white-space: nowrap;
  font-size: 90%;
}

.views-display .tab-section {
  background: #fff;
  width: 33%;
  padding: 0;
  margin: 0;
  float: left;
  min-height: 273px;
  _height: 274px;
}

.views-display .tab-section .inside {
  margin: 0;
  padding: 2px 5px;
}

.views-display .tab-section .links {
  float: right;
  font-size: 6pt;
  position: relative;
  display: inline;
}

.views-display .tab-section .links a {
  font-size: 6pt;
  font-style: italic;
}

.views-display .form-submit, 
#views-ajax-pad .form-submit {
  margin: 0;
}

.views-display #views-add-display-form {
  float: right;
  margin-bottom: 0;
  margin-right: 0.5em;
}

.views-display .middle {
  width: 34%;

}

.views-display dl {
  margin: 0;
}

.views-basic-info {
  margin: 0.5em 0em 0 0;
  padding: 0.5em;
  font-weight: bold;
  background: transparent;
}

.views-display dl {
  margin: 0.25em;
  display: block;
  padding: 0.25em 0.5em 0.5em 0.25em;
  background: #F0F2F4;
}



.views-display dt {
  font-weight: bold;
  padding: 0 0 0em 0.5em;
}

.views-display dd,
.views-display dd a {
  font-size: 8pt;
  line-height: 12pt;
}

.views-display dd {
  padding: 0 0 0 1.7em;
  margin: 0;
  text-indent: -1em;
}


#views-ajax-pad {
  background: transparent;
  margin-top: 0px;
  min-height: 200px;
  _height: 200px; /* stupid IE */

}

#views-ajax-title {
  background: transparent;
  margin-top: 0;
  margin-left: 118px;
  padding: 0.25em 1em;
  border-left: #5C707E 1px solid;
  border-right: #5C707E 1px solid;
  font-weight: bold;
}

#views-ajax-pad .message {
  margin-left: 118px;
  border: #5C707E 1px solid;
  padding: 3em 0em;
  text-align: center;
  background: #ffd;
}

#views-ajax-pad form {
  background: #ffd;
  margin-left: 118px;
  border: #5C707E 1px solid;
  border-top: #D1D8DD 1px solid;  
}

.views-override {
  padding: 0.5em 1em 0em 1em;
}

#views-ajax-pad .form-buttons {
  margin: 0;
  padding: 0.5em 1em;
  border-top: #E0E5E8 1px solid;
  background: #fff;
  clear: left;
}

#views-ajax-pad .form-buttons .form-submit {
  margin: 0 .5em 0 0;
  padding: 0;
}

#views-ajax-pad .form-item {
  margin: 0.5em;
  padding: 0em 0.5em;
}

#views-ajax-pad {
  display: none;
}

html.js #views-ajax-pad {
  display: block;
}

#views-ajax-pad .views-override .form-submit {
  float: right;
  margin: 0 .5em 0 1em;
}

#views-ajax-pad .views-override .description {
  margin-bottom: .25em;
}

#views-ajax-pad .views-left-10 {
  float: left;
  width: 10%;
}

#views-ajax-pad .views-left-20 {
  float: left;
  width: 20%;
}

#views-ajax-pad .views-left-25 {
  float: left;
  width: 25%;
}

#views-ajax-pad .views-left-30 {
  float: left;
  width: 30%;
}

#views-ajax-pad .views-left-40 {
  float: left;
  width: 40%;
}

#views-ajax-pad .views-left-50 {
  float: left;
  width: 50%;
}

#views-ajax-pad .views-radio-box {
  overflow: auto;
  max-height: 180px;
}

a.views-button-configure, 
a.views-button-add, 
a.views-button-rearrange, 
a.views-button-remove {
	background:transparent url(../images/sprites.png);
	display: inline-block;
	float: right;
	height: 12px;
	width: 16px;
	margin: 2px 0px 1px 0px;
	border: #666 1px solid;
}

a.views-button-remove {
  background-position: 0px -72px;
  position: relative;
  top: -4px;
}
a.views-button-remove:hover {
  background-position: 0px -84px;
}

a.views-button-configure {
  background-position: 0px -48px;
  margin: 0;
}
a.views-button-configure:hover {
  background-position: 0px -60px;
}

a.views-button-add {
  background-position: 0px -24px;
}
a.views-button-add:hover {
  background-position: 0px -36px;
}

a.views-button-rearrange {
  background-position: 0px 0px;
}
a.views-button-rearrange:hover {
  background-position: 0px -12px;
}

a.views-button-remove span,
a.views-button-rearrange span,
a.views-button-configure span,
a.views-button-add span {
  display: none;
}
html.js #arrange thead {
  display: none;
}

html.js .views-remove-checkbox {
  display: none;
}

a.views-button-remove {
  display: none;
}

html.js a.views-button-remove {
  display: inline;
}

#arrange tr.even,
#arrange tr.odd,
#arrange td {
  padding-top: 0;
  padding-bottom: 0;
}

#arrange .form-item {
  padding: 0;
}

div.changed {
  background: #ffd;
}

div.view-changed {
  display: none;
  float: right;
}

div.changed div.view-changed {
  display: block;
}

.hilited {
  background: #ffd;
}

.overridden {
  font-style: italic;
}
