/* $Id$ */

.views-tabset {
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
}

.views-tabset .views-tab fieldset { 
  margin-top: 0; 
}

.views-tabset .views-tabs ul {
  list-style-type: none !important;
  list-style-image: none !important;
  padding: 0;
  margin: 0;
  position: relative;
}

.views-tabset .views-tabs ul li {
  list-style-type: none;
  list-style-image: none;
  background: #A6CEE7 url('/themes/garland/images/bg-tab.png') repeat-x bottom;
  line-height: 100%;
  margin: 0;
  padding: 0.5em;
  position: relative;
}

.views-tabset .views-tabs ul li.active {
  background: #fff url('/themes/garland/images/bg-bar-white.png') repeat-x;
  border-top: #ADB7BE 1px solid;
  border-right: 0;
  border-bottom: #ADB7BE 0px solid;
  margin-left: 0;
  position: relative;
}

.views-tabset .views-tabs ul li a {
  font-weight: bold;
  font-size: 90%;
  color: #fff;
}

.views-tabset .views-tabs ul li.active a {
  color: #FF883F;
}

.views-tabset .views-tabs {
  border-bottom: #ADB7BE 0px solid;
  border-left: #fff 1px solid;
  background: #CDE3F1; 
  float: left;
  width: 118px;
  margin-right: 0;
}

* html .views-tabset .views-tabs {
  width: 114px;
  position: relative;
  left: 4px;
}


.views-tabset .extra {
  text-align: center;
  margin-right: 0;
}

.views-tabset .extra input {
  margin-top: 0;
  margin-right: 0;
}

.views-tabset .views-display {
  border: #ADB7BE 1px solid;
  border-bottom: 0px;
  margin-left: 118px; /* 120 -1 causes borders to overlap */
  min-height: 302px;
  _height: 300px; /* stupid IE hack */
}

* html .views-tabset .views-display {
  margin-left: 114px;
}

div.views-display-deleted,
div.views-display-deleted div.top,
div.views-display-deleted div.tab-section {
  background-color: #eee;
}

.views-display div {
  font-size: 8pt;
  line-height: 12pt;
}

.views-display .top {
  padding: 0.5em 0em 0em 1em;
  background: #fff;
}

.views-display .top .display-title {
  font-weight: bold;
}
.views-display .top .display-description {
  margin-left: 1em;
  font-style: italic;
  overflow: hide;
  white-space: nowrap;
  font-size: 90%;
}

.views-display .tab-section {
  background: #fff;
  width: 32.5%;
  padding: 0;
  margin: 0;
  float: left;
  min-height: 273px;
  _height: 274px;
}

.views-display .tab-section .inside {
  margin: 0.5em 0.5em 0.5em 1em;
}

.views-display .tab-section .inside .views-category {
  padding: 0.25em 0.25em 0.5em 1em;
  margin-bottom: 1em;
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
  border-top: 1px #F0F2F4 solid;
  border-bottom: 1px #F0F2F4 solid;
}

.views-display .tab-section .inside .views-category-title {
  font-size: 9pt;
  font-weight: bold;
}


.views-display .tab-section .links {
  float: right;
  font-size: 6pt;
  position: relative;
  display: inline;
}

.views-display .tab-section .links a {
  font-size: 6pt;
  font-style: italic;
}

.views-display .form-submit, 
#views-ajax-pad .form-submit {
  margin: 0;
}

.views-display #views-add-display-form {
  float: right;
  margin-bottom: 0;
  margin-right: 0.5em;
}

.views-display .middle {
  width: 34%;

}

.views-basic-info {
  margin: 0.5em 0em 0 0;
  padding: 0.5em;
  font-weight: bold;
  background-position: 0px -8px;
}


/* ***********************************************
  AJAX pad
*/

#views-ajax-pad {
  background: transparent;
  margin-top: 0px;
  min-height: 200px;
  _height: 200px; /* stupid IE */
}

#views-ajax-title {
  background: transparent url('/themes/garland/images/bg-content.png');
  background-position: 0px -7px;
  margin: 0 0 0 118px;
  padding: 1em 1em 0em 1em;
  border-left: #ADB7BE 1px solid;
  border-right: #ADB7BE 1px solid;
  font-weight: bold;
}

#views-ajax-pad .message {
  margin-left: 118px;
  border: #ADB7BE 1px solid;
  border-top: 0;
  padding: 3em 0em;
  text-align: center;
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
}

#views-ajax-pad form {
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
  margin-left: 118px;
  border: #ADB7BE 1px solid;
  border-top: 0;  
  padding-top: 3px;
}

#views-ajax-pad .views-messages {
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
  margin-left: 118px;
  border-top: 0;  
  padding: 5px;
  border-left: #ADB7BE 1px solid;
  border-right: #ADB7BE 1px solid;
}

.views-override {
  padding: 0.5em 1em 0em 1em;
}

#views-ajax-pad .form-buttons {
  margin: 0;
  padding: 0.5em 1em;
  background: transparent url('/themes/garland/images/gradient-inner.png') repeat-x top;
  clear: left;
}

#views-ajax-pad .clear {
  clear: left;
}

#views-ajax-pad .form-buttons .form-submit {
  margin: 0 .5em 0 0;
  padding: 0;
}

#views-ajax-pad .form-item {
  margin: 0.5em;
  padding: 0em 0.5em;
}

/* These put checkboxes closer together */
#views-ajax-pad .form-checkboxes .form-item,
#views-ajax-pad .form-checkboxes .description,
#views-ajax-pad .form-checkboxes input,
#views-ajax-pad .form-radios .form-item,
#views-ajax-pad .form-radios label,
#views-ajax-pad .form-radios input {
  margin-top: 0;
  margin-bottom: 0;
}

#views-ajax-pad .form-item .form-checkboxes,
#views-ajax-pad .form-checkboxes input,
#views-ajax-pad .form-checkboxes label,
#views-ajax-pad .form-item .form-checkboxes .form-item,
#views-ajax-pad .form-item .form-radios,
#views-ajax-pad .form-radios input,
#views-ajax-pad .form-radios label,
#views-ajax-pad .form-item .form-radios .form-item {
  padding-left: 0;
  margin-left: 0;
}

#views-ajax-pad .form-checkboxes .description,
#views-ajax-pad .form-radios .description {
  margin-left: 2em;
}

#views-ajax-pad {
  display: none;
}

html.js #views-ajax-pad {
  display: block;
}

#views-ajax-pad .views-override .form-submit {
  float: right;
  margin: 0 .5em 0 1em;
}

#views-ajax-pad .views-override .description {
  margin-bottom: .25em;
}

#views-ajax-pad .views-left-10 {
  float: left;
  width: 10%;
}

#views-ajax-pad .views-left-20 {
  float: left;
  width: 20%;
}

#views-ajax-pad .views-left-25 {
  float: left;
  width: 25%;
}

#views-ajax-pad .views-left-30 {
  float: left;
  width: 30%;
}

#views-ajax-pad .views-left-40 {
  float: left;
  width: 40%;
}

#views-ajax-pad .views-left-50 {
  float: left;
  width: 50%;
}

#views-ajax-pad .views-radio-box {
  overflow: auto;
  max-height: 180px;
}

a.views-button-configure, 
a.views-button-add, 
a.views-button-rearrange, 
a.views-button-remove {
	background:transparent url(../images/sprites.png);
	display: inline-block;
	float: right;
	height: 12px;
	width: 16px;
	margin: 2px 0px 1px 0px;
	border: #666 1px solid;
}

a.views-button-remove {
  background-position: 0px -72px;
  position: relative;
  top: -4px;
}
a.views-button-remove:hover {
  background-position: 0px -84px;
}

a.views-button-configure {
  background-position: 0px -48px;
  margin: 0;
}
a.views-button-configure:hover {
  background-position: 0px -60px;
}

a.views-button-add {
  background-position: 0px -24px;
}
a.views-button-add:hover {
  background-position: 0px -36px;
}

a.views-button-rearrange {
  background-position: 0px 0px;
}
a.views-button-rearrange:hover {
  background-position: 0px -12px;
}

a.views-button-remove span,
a.views-button-rearrange span,
a.views-button-configure span,
a.views-button-add span {
  display: none;
}
html.js #arrange thead {
  display: none;
}

html.js .views-remove-checkbox {
  display: none;
}

a.views-button-remove {
  display: none;
}

html.js a.views-button-remove {
  display: inline;
}

#arrange tr.even,
#arrange tr.odd,
#arrange td {
  padding-top: 0;
  padding-bottom: 0;
}

#arrange .form-item {
  padding: 0;
}

div.changed {
  background: #ffd;
}

div.view-changed {
  display: none;
  float: right;
  font-style: italic;
  color: #f93;
}

div.views-tab div.changed a {
  color: #f93;
}

div.changed div.view-changed {
  display: block;
}

.overridden {
  background: transparent url(/themes/garland/images/menu-leaf.gif) no-repeat left;
  padding-left: 10px;
}

.hilited {
  color: #000;
  background-color: #ffd;
  padding-left: 10px;
}

#views-ajax-pad fieldset {
  background: transparent;
  padding-left: 10px;
}


form#views-add-display-form {
  margin-bottom: 0em;
}
