/* $Id$ */

.views-tabset .views-tab fieldset { 
  margin-top: 0; 
}

.views-tabset .views-tabs ul {
  list-style-type: none !important;
  list-style-image: none !important;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.views-tabset .views-tabs ul li {
  list-style-type: none;
  list-style-image: none;
  background: none;
  margin-left: 0;
}

.views-tabset .views-tabs ul li.active {
  background: #ccc;
  margin-left: 0;
}


.views-tabset .views-tabs {
  float: left;
  width: 120px;
}

.views-tabset .extra {
  text-align: center;
}

.views-tabset .extra input {
  margin-top: 0;
}

.views-tabset .views-display {
  border: 1px solid black;
  margin-left: 119px; /* 120 -1 causes borders to overlap */
  min-height: 300px;
  _height: 300px; /* stupid IE hack */
}
.views-tabset .views-display-deleted {
  background-color: #eee;
}

.views-display .top {
  padding: 2px 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}

.views-display .top .display-description {
  margin-left: 1em;
  font-style: italic;
  overflow: hide;
  white-space: nowrap;
}

.views-display .tab-section {
  width: 33%;
  padding: 0;
  margin: 0;
  float: left;
  min-height: 273px;
  _height: 274px;
}

.views-display .tab-section .inside {
  margin: 0;
  padding: 2px 5px;
}

.views-display .tab-section .links {
  float: right;
  font-size: 6pt;
}

.views-display .tab-section .links a {
  font-size: 6pt;
  font-style: italic;
}

.views-display .form-submit, 
#views-ajax-pad .form-submit {
  margin: 0;
}

.views-display #views-add-display-form {
  float: right;
}

.views-display .middle {
  width: 34%;
  background-color: #ccc;
}

.views-display dl {
  margin: 0;
}

.views-basic-info {
  border: 1px solid black;
  padding: 2px 5px;
  background-color: #eee;
}

#views-ajax-pad {
  border: 1px solid black;
  margin-top: 10px;
  min-height: 200px;
  _height: 200px; /* stupid IE */
  padding: 5px;
}

#views-ajax-pad .message {
  margin-top: 75px;
  text-align: center;
}

#views-ajax-pad .form-buttons {
  float: right;
  margin: 0;
  padding: 0;
}

#views-ajax-pad .form-buttons .form-submit {
  margin: 0 .5em 0 0;
  padding: 0;
}

#views-ajax-pad .form-item {
  margin-top: 0;
}

#views-ajax-pad {
  display: none;
}

html.js #views-ajax-pad {
  display: block;
}

#views-ajax-pad .views-override .form-submit {
  float: right;
  margin: 0 .5em 0 1em;
}

#views-ajax-pad .views-override .description {
  margin-bottom: .25em;
}

#views-ajax-pad .views-left-10 {
  float: left;
  width: 10%;
}

#views-ajax-pad .views-left-20 {
  float: left;
  width: 20%;
}

#views-ajax-pad .views-left-25 {
  float: left;
  width: 25%;
}

#views-ajax-pad .views-left-30 {
  float: left;
  width: 30%;
}

#views-ajax-pad .views-left-40 {
  float: left;
  width: 40%;
}

#views-ajax-pad .views-left-50 {
  float: left;
  width: 50%;
}

#views-ajax-pad .views-radio-box {
  overflow: auto;
  max-height: 180px;
}
