/* $Id$ */
.views-exposed-form .views-exposed-widget {
  float: left;
  padding: .5em 1em 0 0;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

.views-exposed-form label {
  font-weight: bold;
}

.views-exposed-widgets {
  margin-bottom: .5em;
}
